
@font-face {
  font-family: 'Gibson';
  font-weight: 100;
  font-style: normal;
  src: url("/static/fonts/gibson/eot/style_199448.eot");
  src: url("/static/fonts/gibson/eot/style_199448.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gibson/woff/style_199448.woff") format("woff"), url("/static/fonts/gibson/ttf/style_199448.ttf") format("truetype"), url("/static/fonts/gibson/svg/style_199448.svg#Gibson-Light") format("svg");
}

@font-face {
  font-family: 'Gibson';
  font-weight: 100;
  font-style: italic;
  src: url("/static/fonts/gibson/eot/style_199447.eot");
  src: url("/static/fonts/gibson/eot/style_199447.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gibson/woff/style_199447.woff") format("woff"), url("/static/fonts/gibson/ttf/style_199447.ttf") format("truetype"), url("/static/fonts/gibson/svg/style_199447.svg#Gibson-LightIt") format("svg");
}

@font-face {
  font-family: 'Gibson';
  font-weight: 900;
  font-style: italic;
  src: url("/static/fonts/gibson/eot/style_199446.eot");
  src: url("/static/fonts/gibson/eot/style_199446.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gibson/woff/style_199446.woff") format("woff"), url("/static/fonts/gibson/ttf/style_199446.ttf") format("truetype"), url("/static/fonts/gibson/svg/style_199446.svg#Gibson-BoldItalic") format("svg");
}

@font-face {
  font-family: 'Gibson';
  font-weight: bold;
  font-style: italic;
  src: url("/static/fonts/gibson/eot/style_199445.eot");
  src: url("/static/fonts/gibson/eot/style_199445.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gibson/woff/style_199445.woff") format("woff"), url("/static/fonts/gibson/ttf/style_199445.ttf") format("truetype"), url("/static/fonts/gibson/svg/style_199445.svg#Gibson-SemiboldIt") format("svg");
}

@font-face {
  font-family: 'Gibson';
  font-weight: 900;
  font-style: normal;
  src: url("/static/fonts/gibson/eot/style_199444.eot");
  src: url("/static/fonts/gibson/eot/style_199444.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gibson/woff/style_199444.woff") format("woff"), url("/static/fonts/gibson/ttf/style_199444.ttf") format("truetype"), url("/static/fonts/gibson/svg/style_199444.svg#Gibson-Bold") format("svg");
}

@font-face {
  font-family: 'Gibson';
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/gibson/eot/style_199443.eot");
  src: url("/static/fonts/gibson/eot/style_199443.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gibson/woff/style_199443.woff") format("woff"), url("/static/fonts/gibson/ttf/style_199443.ttf") format("truetype"), url("/static/fonts/gibson/svg/style_199443.svg#Gibson-Regular") format("svg");
}

@font-face {
  font-family: 'Gibson';
  font-weight: bold;
  font-style: normal;
  src: url("/static/fonts/gibson/eot/style_199442.eot");
  src: url("/static/fonts/gibson/eot/style_199442.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gibson/woff/style_199442.woff") format("woff"), url("/static/fonts/gibson/ttf/style_199442.ttf") format("truetype"), url("/static/fonts/gibson/svg/style_199442.svg#Gibson-SemiBold") format("svg");
}

@font-face {
  font-family: 'Gibson';
  font-weight: normal;
  font-style: italic;
  src: url("/static/fonts/gibson/eot/style_199441.eot");
  src: url("/static/fonts/gibson/eot/style_199441.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gibson/woff/style_199441.woff") format("woff"), url("/static/fonts/gibson/ttf/style_199441.ttf") format("truetype"), url("/static/fonts/gibson/svg/style_199441.svg#Gibson-Italic") format("svg");
}
